
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color : white;
}

.container {
    width: 80%;
    margin: auto;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

#cryptoTable {
    width: 100%;
    border-collapse: collapse; /* Use collapse to merge borders */
}

#cryptoTable td {
    border-bottom: 1px solid #ddd; /* Only applies a border to the bottom */
    padding: 10px;

}

#cryptoTable th {
    background-color: #f2f2f2;
    text-align: left;
}

#cryptoTable td.symbol {
    text-transform: uppercase; /* Make symbols uppercase */
}

#searchInput {
    background-color: transparent;
    color : white;
    border : 1px solid white;
    width : 50%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.positive {
    color: green;
}

.negative {
    color: red;
}